/* src/components/Home.css */
.home {
  background-color: rgb(204, 204, 178); /* Darker shade of blue */
    color: black;
    text-align: center;
    padding: 60px 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 86vh;
  }
  
  .home-content {
    max-width: 800px;
  }
  
  .home-photo {
    width: 300px;
    height: 300px;
    border-radius: 80%;
    margin-bottom: 40px;
  }
  